.typo h2.news-list__month
  color: #AAA

.news-list__row
  position: relative
  margin-bottom: 20px

.news-list__col
  float: left
  width: 33%

  h4
    margin-top: 0

+below(1000px)
  .news-list__col
    float: none
    display: block
    width: auto

.news-list__col-inner
  padding-right: 20px

.body-section-news .news-list__title
  a, a:visited, a:active
    color: #000
    border-bottom-color: transparent
    text-decoration: none
  
  a:hover
    color: $section-text-colors['news']
    border-color: @color
  
.news-list__body
  color: #888
  font-size: 14px
