$notice-filter-popup-width = 140px

.notice-subscribe-module
  height: 200px
  position: relative
  background-color: #80c8d6
  background-image: url(../img/notice-subscribe.png)
  background-position: left top
  background-repeat: no-repeat

.notice-subscribe-module__wrap
  position: absolute
  left: 190px
  top: 50%
  margin-top: -37px
  right: 20px
  color: #FFF
  text-align: center
  line-height: 30px
  font-size: 14px

.typo .notice-subscribe-module__wrap
  a.button, a.button:visited, a.button:active
    display: inline-block
    border: 2px solid #FFF
    border-radius: 30px
    padding: 0 20px
    color: #FFF
    margin-bottom: 10px
  a.button:hover
    border: 2px solid #FFF
    background: #FFF
    color: #222

+retina()
  .notice-subscribe-module
    background-image: url(../img/notice-subscribe@2x.png)
    background-size: 190px 200px

+between(780px, 1250px)
  .notice-subscribe-module
    height: 120px
    background-image: url(../img/notice-subscribe-small.png)
  .notice-subscribe-module__wrap
    left: 115px

.typo h2.notice-list__month
  color: #AAA

.notice-list__row
  margin: 30px 0

  h4
    margin-top: 0
  
.body-section-notice .notice-list__title
  a, a:visited, a:link
    color: #000
    border-bottom-color: transparent
    font-weight: normal
    text-decoration: none
  a:hover
    color: $section-text-colors['notice']
    border-color: @color

.notice-list__extra
  font-size: 14px

.notice-list__deadline--passed
  color: #AAA
.notice-list__deadline--not-passed
  color: red

.typo .notice-list__extra
  a, a:visited, a:link
    display: inline-block
    border: 1px solid #EEE
    color: #AAA
    padding: 0 8px
    margin-left: 5px
    line-height: 20px
    border-radius: 11px
    font-size: 12px
  a:hover
    background-color: $section-colors['notice']
    border-color: @background-color
    color: #FFF

.rightbar__module .notice-filter-module
  overflow visible

.typo
  a.notice__tag, a.notice__tag:visited, a.notice__tag:active
    display: inline-block
    color: #FFF
    font-size: 12px
    padding: 0 10px
    margin: 2px 5px 2px 0
    border-radius: 12px
    line-height: 22px
    border: 0
  a.notice__tag:hover
    color: #FFF
    border: 0

  for $tag-name, $tag-color in $notice-tag-colors
    a.notice__tag--{$tag-name}
      background: $tag-color
      &:hover
        background: lighten($tag-color, 20%)

.notice-filter__block
  margin-bottom: 20px

.notice-filter__item
  display: inline-block
  position: relative
  margin: 1px 0
  font-size: 14px

.notice-filter__item__text
  display: inline-block
  padding: 3px 10px
  cursor: pointer

  &:hover
    background: #F0F0F0

  &.is-highlight
    background: $section-colors['notice']
    color: #FFF

.notice-filter__item
  .notice-filter__filters
    background: #FFF
    width: $notice-filter-popup-width
    box-shadow: 0 4px 5px 0 rgba(#000, 0.1)
    position: absolute
    opacity: 0
    left: unit(-($notice-filter-popup-width - 10), 'px')
    top: 0
    transition: left .2s, opacity .2s, visibility 0s linear 0.2s
    visibility: hidden
    transition-timing-function: easeOutCubic
  
  &:hover
    .notice-filter__filters
      visibility: visible
      transition-delay: 0s
      left: unit(-($notice-filter-popup-width), 'px')
      opacity: 1

// 二级
.notice-filter__item
  .notice-filter__item
    display: block
  .notice-filter__item__text
    display: block
