.notice-subscribe-module
  height: 200px
  position: relative
  background-color: #80c8d6
  background-image: url(../img/notice-subscribe.png)
  background-position: left top
  background-repeat: no-repeat

.notice-subscribe-module__wrap
  position: absolute
  left: 190px
  top: 50%
  margin-top: -37px
  right: 20px
  color: #FFF
  text-align: center
  line-height: 30px
  font-size: 14px

.typo .notice-subscribe-module__wrap
  a.button, a.button:visited, a.button:active
    display: inline-block
    border: 2px solid #FFF
    border-radius: 30px
    padding: 0 20px
    color: #FFF
    margin-bottom: 10px
  a.button:hover
    border: 2px solid #FFF
    background: #FFF
    color: #222

+retina()
  .notice-subscribe-module
    background-image: url(../img/notice-subscribe@2x.png)

+between(780px, 1250px)
  .notice-subscribe-module
    height: 120px
    background-image: url(../img/notice-subscribe-small.png)
  .notice-subscribe-module__wrap
    left: 115px

.typo h2.notice-list__month
  color: #AAA

.notice-list__row
  margin: 30px 0

  h4
    margin-top: 0
  
.body-section-notice .notice-list__title
  a, a:visited, a:link
    color: #000
    border-bottom-color: transparent
    font-weight: normal
    text-decoration: none
  a:hover
    color: $section-text-colors['notice']
    border-color: @color

.notice-list__extra
  font-size: 14px

.notice-list__deadline--passed
  color: #AAA
.notice-list__deadline--not-passed
  color: red

.typo .notice-list__extra
  a, a:visited, a:link
    display: inline-block
    border: 1px solid #EEE
    color: #AAA
    padding: 0 8px
    margin-left: 5px
    line-height: 20px
    border-radius: 11px
    font-size: 12px
  a:hover
    background-color: $section-colors['notice']
    border-color: @background-color
    color: #FFF

.notice-filter__item
  position relative

.notice-filter__item .is-highlight
  background rgb(27, 93, 180) !important
  color #FFF
  margin-left -10px
  padding-left 10px
  max-width 140px

.rightbar__module .notice-filter-module
  overflow visible

.typo
  a.notice__tag, a.notice__tag:visited, a.notice__tag:active
    display: inline-block
    background: $section-text-colors['notice']
    color: #FFF
    font-size: 12px
    padding: 0 10px
    margin: 2px 5px 2px 0
    border-radius: 12px
    line-height: 22px
    border: 0
  a.notice__tag:hover
    background: lighten($section-text-colors['notice'], 20%)
    color: #FFF
    border: 0

@media screen and (min-width:1001px)
  .notice-filter__item .notice-filter__filters
    float right
    background #f8f8f8
    width 140px
    height (28*4)px
    position absolute
    overflow hidden
    // margin-left -163px
    left -155px
    margin-top -25px
    padding-left 10px
    transition all .2s linear
    opacity 0

  .notice-filter__item .notice-filter__filters:hover,
  .notice-filter__item .notice-filter__filters:active,
  .notice-filter__item:hover > .notice-filter__filters
    // width 140px
    left -165px
    opacity 1
    
