.subscription__form
  center(100%)
  margin: 0 20px
+above(540px)
  .subscription__form
    margin: 0
    center(500px)

.subscription__topic-region
  margin-left: 10px

.subscription__topic-item
  font-size: 14px
  margin-right: 10px
