.teacher__info
  color: #888
  margin-bottom: 20px

// 人员列表定制样式
.typo, .cke_editable
  .table--non-border-list
    width: 100%
    max-width: 500px
    th, td
      border: 0
      padding-left: 0
      
  .table--peoplelist
    th, td
      width: 140px
      border: 0
      padding-left: 0
