// 预设颜色
aqua =    #7FDBFF
blue =    #0074D9
navy =    #001F3F
teal =    #39CCCC
green =   #2ECC40
olive =   #3D9970
lime =    #01FF70
yellow =  #FFDC00
orange =  #FF851B
red =     #FF4136
fuchsia = #F012BE
purple =  #B10DC9
maroon =  #85144B
white =   #ffffff
silver =  #dddddd
gray =    #aaaaaa
black =   #111111

// 链接颜色、文字颜色等
$primary-color = #53A0D4
$text-color = #555
$header-color = #3D3D3D
$blockquote-color = #999
$small-color = #888

// 各项主色调
$section-count = 7
$section-colors = {
  default:   #58c3f0
  overview:  #d47385
  admission: #fed17b
  programme: #fed17b
  education: #aed580
  research:  #f89e68
  activity:  #80acdc
  news:      #e86e6e
  notice:    #6dc9c3
}
$section-text-colors = {
  default:   darken($section-colors['default'],   30%)
  overview:  darken($section-colors['overview'],  0%)
  admission: darken($section-colors['admission'], 34%)
  programme: darken($section-colors['programme'], 34%)
  education: darken($section-colors['education'], 20%)
  research:  darken($section-colors['research'],  30%)
  activity:  darken($section-colors['activity'],  10%)
  news:      darken($section-colors['news'],      5%)
  notice:    darken($section-colors['notice'],    15%)
}

// 字体等
$primary-font-family = "PingFang SC", "Hiragino Sans GB", "Lantinghei SC", "Microsoft Yahei", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans"
$primary-font-family-webfont = "Open Sans", $primary-font-family
$header-font-family = "PingFang SC", "Lucida Grande", "Segoe UI", "Verdana", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans-serif"
$header-font-family-webfont = "Open Sans", $header-font-family
