// 预设颜色
aqua =    #7FDBFF
blue =    #0074D9
navy =    #001F3F
teal =    #39CCCC
green =   #2ECC40
olive =   #3D9970
lime =    #01FF70
yellow =  #FFDC00
orange =  #FF851B
red =     #FF4136
fuchsia = #F012BE
purple =  #B10DC9
maroon =  #85144B
white =   #ffffff
silver =  #dddddd
gray =    #aaaaaa
black =   #111111

// 链接颜色、文字颜色等
$primary-color = #53A0D4
$text-color = #555
$header-color = #3D3D3D
$blockquote-color = #999
$small-color = #888

// 各项主色调
$section-count = 7
$section-colors = {
  default:   #53A0D4    // not a real section
  overview:  #9FC1E3
  admission: #E3B48D
  education: #E1A6E3
  research:  #F8DA89
  activity:  #C9D36F
  news:      #DEA1A1
  notice:    #A4CBCC
}

// 字体等
$primary-font-family = "PingFang SC", "Hiragino Sans GB", "Lantinghei SC", "Microsoft Yahei", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans"
$primary-font-family-webfont = "Open Sans", $primary-font-family
$header-font-family = "PingFang SC", "Lucida Grande", "Segoe UI", "Verdana", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans-serif"
$header-font-family-webfont = "Open Sans", $header-font-family
