@css {
  
@font-face {
  font-family: 'sseicon';
  src:url('../fonts/sseicon.eot?-gx6qhi');
  src:url('../fonts/sseicon.eot?#iefix-gx6qhi') format('embedded-opentype'),
    url('../fonts/sseicon.ttf?-gx6qhi') format('truetype'),
    url('../fonts/sseicon.woff?-gx6qhi') format('woff'),
    url('../fonts/sseicon.svg?-gx6qhi#sseicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  font-family: 'sseicon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-arrows-alt:before {
  content: "\f0b2";
}
.icon-circle:before {
  content: "\f111";
}
.icon-git:before {
  content: "\f1d3";
}
.icon-qq:before {
  content: "\f1d6";
}
.icon-wechat:before {
  content: "\f1d7";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-internet-explorer:before {
  content: "\f26b";
}
.icon-link:before {
  content: "\e601";
}
.icon-phone:before {
  content: "\e057";
}
.icon-arrow_forward:before {
  content: "\e204";
}
.icon-check:before {
  content: "\e206";
}
.icon-close:before {
  content: "\e209";
}
.icon-refresh:before {
  content: "\e211";
}
.icon-notifications:before {
  content: "\e24a";
}
.icon-share:before {
  content: "\e25a";
}
.icon-star:before {
  content: "\e260";
}
.icon-schedule:before {
  content: "\e2c9";
}
.icon-turned_in:before {
  content: "\e2f8";
}
.icon-attach_file:before {
  content: "\e0c0";
}
.icon-local_post_office:before {
  content: "\e1ec";
}
.icon-chevron_left:before {
  content: "\e207";
}
.icon-chevron_right:before {
  content: "\e208";
}
.icon-expand_less:before {
  content: "\e20a";
}
.icon-expand_more:before {
  content: "\e20b";
}
.icon-search:before {
  content: "\e2ca";
}

}
