.content-has-sidenav
  .sidenav
    col(1/4)
  .main-content
    col(3/4)

+below(780px)
  .content-has-sidenav
    .main-content
      stack()

.node--has-rightbar
  .node__content
    col(4/6)
  
  .node__rightbar
    col(2/6)

+below(780px)
  .node__content
    stack()
  .node__rightbar
    stack()

.main-content
  margin-bottom: 50px

#page-title
  margin-top: 20px

.breadcrumb-container
  font-size: 14px
  color: #888
  margin-top: 20px

.breadcrumb__item, .breadcrumb__item:visited, .breadcrumb__item:active
  color: #AAA
  text-decoration: none

.breadcrumb__item--link:hover
  color: #444
  text-decoration: underline
