.content-has-sidenav
  .sidenav
    col(1/4)
  .main-content
    col(3/4)

+below(780px)
  .content-has-sidenav
    .main-content
      stack()

.main-content
  margin-bottom: 50px

.breadcrumb-container
  font-size: 14px
  color: #888

.breadcrumb__item, .breadcrumb__item:visited, .breadcrumb__item:active
  color: #AAA
  text-decoration: none

.breadcrumb__item--link:hover
  color: #444
  text-decoration: underline
