.content-has-sidenav
  .sidenav
    col(1/4)
  .main-content
    col(3/4)

+below(780px)
  .content-has-sidenav
    .main-content
      stack()

.intro-layout--two-col
  .intro__left
    col(7/10)
  .intro__right
    col(3/10)

.content-has-sidenav
  .intro-layout--two-col
    .intro__left
      col(4/6)
    .intro__right
      col(2/6)

+below(1000px)
  .intro-layout--two-col
    .intro__left, .intro__right
      stack()

.main-content
  margin-bottom: 50px

#page-title
  margin-top: 20px

.breadcrumb-container
  font-size: 14px
  color: #888
  margin-top: 20px

.breadcrumb__item, .breadcrumb__item:visited, .breadcrumb__item:active
  color: #AAA
  text-decoration: none

.breadcrumb__item--link:hover
  color: #444
  text-decoration: underline
