.rightbar__module
  background: #F8F8F8
  padding: 25px
  margin-bottom: 30px

.rightbar__module > h3
  margin-top: 0
  margin-bottom: 20px
  color: #9D9D9D

.typo .relative-link__item
  margin: 10px 0
  color: #888888
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  
  i
    color: #C9C9C9
    margin-right: 10px
  
  a, a:visited, a:active
    color: #888888
    border-bottom: 0
  
  a:hover
    color: #888888
    border-bottom: 1px solid #888888
