.rightbar__module
  background: #F8F8F8
  padding: 25px

.rightbar__module > h3
  margin-top: 0
  margin-bottom: 20px
  color: #9D9D9D

.relative-link__item
  margin: 10px 0
  color: #888888 !important
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  
  i
    color: #C9C9C9
    margin-right: 10px
  
  a, a:visited, a:hover
    color: #888888 !important
    border: 0 !important
  
  a:hover
    text-decoration: underline !important
