$footer-section-width = 150px
$footer-section-ribbon = 4px
$footer-section-gutter = 15px
$footer-bgcolor = #181C1E
$footer-text = mix(#FFF, $footer-bgcolor, 60%)
$footer-text-link = mix(#FFF, $footer-bgcolor, 70%)

.footer
  background: $footer-bgcolor url(../img/footer-texture.png) no-repeat right bottom
  padding: 50px 0
  color: $footer-text
  font-size: 14px
  
  a, a:visited, a:active
    color: $primary-color
    text-decoration: none
  a:hover
    color: #4ABED8
    text-decoration: underline

+retina()
  .footer
    background-image: url(../img/footer-texture@2x.png)

.footer__navi
  float: left

.footer__info
  float: right
  text-align: right
  
  p
    margin: 10px 0

  &>ul, li
    display: inline-block
  
  li
    margin-left: 10px

+below(rupture.desktop-cutoff)
  .footer__navi, .footer__info
    float: none
  
  .footer__navi
    margin: 0 20px

  .footer__info
    text-align: center

    &>div, p
      display: inline-block
    
    p
      margin: 0 5px

// 桌面布局：整个 footer 分为两栏，左栏包含各个 section，宽度固定
.footer__navi__section
  float: left
  width: $footer-section-width

  a, a:visited, a:active
    color: $footer-text-link
    text-decoration: none
  a:hover
    color: #FFF
    text-decoration: underline

// 小于桌面布局：桌面里的左栏占满宽度，内部内容平均分栏
+below(rupture.desktop-cutoff)
  .footer__navi__section
    col(1/($section-count - 2))
    margin-bottom: 20px

// 不能一行展示所有栏：只显示两栏
+below($footer-section-width * ($section-count - 2))
  .footer__navi__section
    col(1/2, cycle: 2)

// 两栏也无法显示：只显示一栏
+below($footer-section-width * 2)
  .footer__navi__section
    stack()
    text-align: center

.footer__navi__section__title
  font-size: 18px
  color: #FFF
  border-left: $footer-section-ribbon solid $primary-color
  padding-left: $footer-section-gutter - $footer-section-ribbon
  margin-bottom: 10px

.footer__navi__section__item
  font-size: 16px
  margin-left: $footer-section-gutter
  line-height: 30px

for $section-name, $section-color in $section-colors
  .footer__navi__section__{$section-name} .footer__navi__section__title
    border-color: $section-color

// 一栏显示时，左侧 ribbon 显示到上侧
+below($footer-section-width * 2)
  .footer__navi__section__title
    padding-left: 0
    padding-top: 5px
    border-left: 0
    border-top: 4px solid $primary-color
  
  .footer__navi__section__item
    margin-left: 0

// sticky footer
html, body
  height: 100%

body
  display: table
  width: 100%

.page-row
  display: table-row
  height: 1px

.page-row-expanded
  height: auto
